* {
    box-sizing: border-box;
    margin: auto;
    background-color: rgb(233, 233, 233);
}

.xogame {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: rgb(15, 74, 54);

}

.underline {
    width: 60%;
    height: 0.2rem;
    background-color: rgb(17, 120, 1);
}
.game{
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}

.frequency{

    width: 100%;
    height: auto;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    color: rgb(0, 100, 10);
}
.board{
    
    margin-top: 3%;
    width: 100%;
    height: 400px;
    background-color: green;
    display: grid;
    place-items: center;
    grid-template-columns: 33% 33% 33% ;
    border-radius: 10%;
    gap: 1px;
    
}
.box{
    
    background-color: rgb(11, 38, 14);
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: grid;
    place-items: center;
  
}
#opart{
    position: relative;
    width: 80%;
    height:80% ;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
   

}


#xpart{
 
    position: relative;
    width: 80%;
    height: 15%;
    transform: rotate(-45deg);
    background-color: rgb(255, 255, 255);
}
#xpart::before, #xpart::after{
    content: '';
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    position: absolute;
    background-color: white;
    

}
.board>.box1{
    border-top-left-radius: 20%;
}
.board>.box9{
    border-bottom-right-radius: 20%;
}
.btn{
   margin-top:10px;
   border: 1px rgb(11, 38, 14) solid;
   cursor: pointer;
   background-color: green;
   height: 30px;

}
.btn:hover{
    background-color: rgb(0, 68, 0);
    color: white;
}

.mywinning{
    width: 200px;
    height: 100px;
    background-color: rgb(233, 233, 233);
    position: absolute;
    border-radius: 2px;
    z-index: 1;
    border: 1px rgb(4, 52, 34) solid;
}
.mark{
    width: 10%;
    height: 20%;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}
.message{
    background-color: rgb(233, 233, 233);
    display: grid;
    place-items: center;
    color: rgb(4, 77, 13);
   
}
h3{
    background-color: rgb(233, 233, 233);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10%;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233);
}
.naming{
    margin-top:1%;
    width: 200px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    
}
.btn2{
    width: 20%;
    background-color: rgb(131, 131, 176);
    color: white;
}
.btn2:hover{
    background-color: rgb(92, 90, 101);
}
@media screen and (max-width: 431px) {
    .game{
        width: 300px;
       
    }
    .board{
        height: 300px;
    }
    
}